@media (max-width:2000px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        background-color: #fbfcf8;
        margin: 3px;
    }
    nav{
        background: #000b33;
        height: 40px;
        width: 100%;
    }
    nav ul li a{
        text-decoration: none;
        color: #fbfcf8;
        font-size: xx-small;
        font-weight: bold;
    }
    nav ul{
        float: right;
        margin-right: 5px;
    }
    nav ul li{
        display: inline-block;
        line-height: 40px;
        margin: 0 2px;
    }
    label.logo a{
        font-family: Verdana, Geneva, Tahoma, sans-serif, Cursive;
        font-size: medium;
        font-weight: bolder;
        text-decoration: none;
        color: #fbfcf8;
        line-height: 40px;
        margin-left: 5px;
    }
    body .slider{
        display: flex !important;
        align-items: center !important;
        width: 90% !important;
        margin: 10px 17px;
        box-shadow: -3px -3px 5px #1a0233;
    }
   .wrapper{
        display: inline-flex;
   }
   .wrapper .static{
        font-size: 30px;
        font-weight: 200px;
        margin: 5px;
    }
   .wrapper .dynamic{
        margin-left: 7.5px;
        height: 45px;
        line-height: 45px;
        overflow: hidden;
    }
    .dynamic li{
        list-style: none;
        font-size: 30px;
        font-weight: 200;
        color: #1a0233;
        position: relative;
        top: 0;
        animation: slide 6s steps(4) infinite;
    }
    @keyframes slide{
        100%{
        top: -179px;
       }
    }
    .dynamic li span{
        position: relative;
    }
    .dynamic li span::after{
        content: "";
        position: absolute;
        background: #fbfcf8;
        height: 100%;
        width: 100%;
        left: 0;
        border-left: 1.5px solid #1a0233;
        animation: typing 1.5s steps(10) infinite;
    }
    @keyframes typing{
        100%{
            left: 100%;
            margin: 0 -20px 0 20px;
       }
    }
    .career{
       border: 2px solid champagne;
       background: #fbfcf8 !important;
       border-radius: 50px 20px;
       justify-content: center;
       align-items: center;
       display: inline-flex;
       margin: 10px;
       padding: 10px;
       box-shadow: 10px 10px 15px #1a0233;
    }
    .career h3{
       color: #1a0233;
       margin-left: 3px;
    }
    .career p{
       color: #1a0233;
       margin-left: 5px;
       font-size: 12px;
       text-align: justify;
    }

    #member{
       margin: 10px 10%;
       font-family: cursive;
       font-weight: lighter;
       padding: 10px;
    }
    .member{
       display: flex;
       align-items: center;
       text-align: center;
       width: 90%;
       margin: auto;
    }
    .member a, img{
       width: 30px;
       height: 30px;
       margin: auto;
    }
    .downloadcv{
        margin: 2% 0;
        padding: 15px;
        display: flex;
    }
    .downloadcv a{
        border-radius: 5px;
        border-style: double;
        margin: auto;
        background-color: #F5F5F5;
        color: #000000;
        padding: 10px 20px;
        font-family: cursive;
        text-decoration: none;
    }
    .downloadcv a:hover{
        color: rgb(50, 243, 11);
    }
    footer{
        background-color: #000b33;
        padding: 10px;
    }
    footer p{
        text-align: center;
        color: #ffffff;
        font-family: Calibri;
        font-size: 15px;
        width: 50%;
        margin: auto;
    }
    span{
        display: flex;
    }
    span a{
        margin: auto;
        color: #ffffff;
    }
    #cnote{
        margin: auto;
        color: #ffffff;
        font-family: Arial;
        font-size: xx-small;
        text-align: center;
    }
    #hrlast{
        width: 100%;
    }
    footer h3, .whatsapp{
        padding-top: 20px;
        color: rgb(50, 243, 11);
        margin: auto;
        text-align: center;
        font-family: 'Lucida Sans';
    }
    .whatsapp{
        font-weight: bolder;
    }
}
