@media (max-width:2000px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        background-color: #fbfcf8;
        font-family: Arial, "sans-serif";
    }
    nav{
        background: rgb(8, 2, 32);
        height: 40px;
        width: 100%;
    }
    nav ul li a{
        text-decoration: none;
        color: #fbfcf8;
        font-size: xx-small;
        font-weight: bold;
    }
    nav ul{
        float: right;
        margin-right: 5px;
    }
    nav ul li{
        display: inline-block;
        line-height: 40px;
        margin: 0 2px;
    }
    label.logo a{
        font-family: Verdana, Geneva, Tahoma, sans-serif, Cursive;
        font-size: medium;
        font-weight: bolder;
        text-decoration: none;
        color: #fbfcf8;
        line-height: 40px;
        margin-left: 5px;
    }
    body .slider{
        display: flex !important;
        align-items: center !important;
        width: 90% !important;
        margin: 10px 17px;
        box-shadow: -3px -3px 5px #1a0233;
    }
   .wrapper{
        display: inline-flex;
   }
   .wrapper .static{
        font-size: 30px;
        font-weight: 200px;
        margin: 5px;
    }
   .wrapper .dynamic{
        margin-left: 7.5px;
        height: 45px;
        line-height: 45px;
        overflow: hidden;
    }
    .dynamic li{
        list-style: none;
        font-size: 30px;
        font-weight: 200;
        color: #1a0233;
        position: relative;
        top: 0;
        animation: slide 6s steps(4) infinite;
    }
    @keyframes slide{
        100%{
        top: -179px;
       }
    }
    .dynamic li span{
        position: relative;
    }
    .dynamic li span::after{
        content: "";
        position: absolute;
        background: #fbfcf8;
        height: 100%;
        width: 100%;
        left: 0;
        border-left: 1.5px solid #1a0233;
        animation: typing 1.5s steps(10) infinite;
    }
    @keyframes typing{
        100%{
            left: 100%;
            margin: 0 -20px 0 20px;
       }
    }
   .career{
      padding: 40% 0;
      background-color: rgb(8, 2, 32);
      text-align: center;
   }
   .career h2{
      color: #ff0000;
      font-family: courier;
      padding-bottom: 5px;
   }
   .career h4{
      width: 60%;
      margin: auto;
      font-family: 'Trebuchet MS';
      font-weight: lighter;
      text-shadow: 1px 1px 5px #cccccc;
      color: #ffffff;
   }
   .bio{
    box-shadow: 2px #1a0233;
    width: 70%;
    margin: auto;
   }
   .bio p{
    padding: 10px;
   }
   .bio ul{
    margin-left: 50px;
   }
   .membersection{
    margin-bottom: 20px;
   }
   #member{
      font-family: 'Trebuchet MS', Arial;
      font-weight: lighter;
      margin: 50px 50px 0;
      padding-left: 10px;
   }
   .member{
    display: flex;
    flex-wrap: wrap;
    margin: 0 5px;
    padding: 0 150px;
   }
   .member > div{
    margin: auto;
    padding: 2px 5px;
   }
   .member img{
    width: 70px;
    box-shadow: 2px 4px rgb(8, 2, 32);
    border: 2px solid whitesmoke;
   }

    .downloadcv{
        padding: 15px 0;
        display: flex;
    }
    .downloadcv a{
        border-radius: 5px;
        border-style: double;
        margin: auto;
        background-color: #F5F5F5;
        color: #000000;
        padding: 10px 20px;
        font-family: 'Trebuchet MS';
        text-decoration: none;
    }
    .downloadcv a:hover{
        color: rgb(50, 243, 11);
    }
    footer{
        background-color: rgb(8, 2, 32);
        padding: 10px;
    }
    footer p{
        text-align: center;
        color: #ffffff;
        font-family: Calibri;
        font-size: 15px;
        width: 50%;
        margin: auto;
    }
    span{
        display: flex;
    }
    span a{
        margin: auto;
        color: #ffffff;
    }
    #cnote{
        margin: auto;
        color: #ffffff;
        font-family: Arial;
        font-size: xx-small;
        text-align: center;
    }
    #hrlast{
        width: 100%;
    }
    footer h3, .whatsapp{
        padding-top: 20px;
        color: rgb(50, 243, 11);
        margin: auto;
        text-align: center;
        font-family: 'Lucida Sans';
    }
    .whatsapp{
        font-weight: bolder;
    }
}
