*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(243, 243, 224);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media (max-width:500px){
    body{
        background-color: beige;
        margin: 3px;
    }
    nav{
        background: #1a0233;
        height: 40px;
        width: 100%;
    }
    nav ul li a{
        text-decoration: none;
        color: antiquewhite;
        font-size: xx-small;
        font-weight: bold;
    }
    nav ul{
        float: right;
        margin-right: 5px;
    }
    nav ul li{
        display: inline-block;
        line-height: 40px;
        margin: 0 2px;
    }
    label.logo a{
        font-family: Verdana, Geneva, Tahoma, sans-serif, Cursive;
        font-size: medium;
        font-weight: bolder;
        text-decoration: none;
        color: rgb(252, 232, 206);
        line-height: 40px;
        margin-left: 5px;
    }
    body .slider{
        display: flex !important;
        align-items: center !important;
        width: 90% !important;
        margin: 10px 15px;
        box-shadow: -3px -3px 5px burlywood;
    }
   .wrapper{
        display: inline-flex;
   }
   .wrapper .static{
        font-size: 30px;
        font-weight: 200px;
        margin: 5px;
    }
   .wrapper .dynamic{
        margin-left: 7.5px;
        height: 45px;
        line-height: 45px;
        overflow: hidden;
    }
    .dynamic li{
        list-style: none;
        font-size: 30px;
        font-weight: 200;
        color: #1a0233;
        position: relative;
        top: 0;
        animation: slide 6s steps(4) infinite;
    }
    @keyframes slide{
        100%{
        top: -179px;
       }
    }
    .dynamic li span{
        position: relative;
    }
    .dynamic li span::after{
        content: "";
        position: absolute;
        background: beige;
        height: 100%;
        width: 100%;
        left: 0;
        border-left: 1.5px solid #1a0233;
        animation: typing 1.5s steps(10) infinite;
    }
    @keyframes typing{
        100%{
            left: 100%;
            margin: 0 -20px 0 20px;
       }
    }
    .career{
       border: 2px solid champagne;
       background: beige !important;
       border-radius: 50px 20px;
       justify-content: center;
       align-items: center;
       display: inline-flex;
       margin: 10px;
       padding: 10px;
       box-shadow: 10px 10px 15px #1a0233;
    }
    .career h3{
       color: #1a0233;
       margin-left: 3px;
    }
    .career p{
       color: #1a0233;
       margin-left: 5px;
       font-size: 12px;
       text-align: justify;
    }
    .attrib{
       display: flex;
       padding: 0 2.5%;
    }
    .attrib h3{
       position: relative;
       display: inline-flex;
       color: #1a0233;
       font-size: 20px;
       margin: 5px;
    }
    .attrib h3:after{
       content: "";
       position: absolute;
       background: #1a0233;
       height: 1px;
       width: 100%;
       margin-top: 20px;
    }
    .attrib ul li{
       list-style: none;
       color: #000215;
       font-size: 20px;
       margin: 5px;
       letter-spacing: 1px;
       position: relative;
    }
    .attrib ul li:after{
       content: "";
       position: absolute;
       background: #1a0233;
       height: 1px;
       width: 0;
       left: 0;
       margin-top: 20px;
    }
    .attrib ul li:hover:after{
       width: 100%;
    }

    .attrib ul p, dl{
       font-size: small;
       margin: 5px;
       color: #1a0233;
       align: justify;
    }
    .attrib ul dl a{
       text-decoration:none;
       color: #1a0233;
    }
}
