*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(243, 243, 224);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media (max-width:500px){
    body{
        background-color: beige;
        margin: 3px;
    }
    nav{
        background: #1a0233;
        height: 40px;
        width: 100%;
    }
    nav ul li a{
        text-decoration: none;
        color: antiquewhite;
        font-size: xx-small;
        font-weight: bold;
    }
    nav ul{
        float: right;
        margin-right: 5px;
    }
    nav ul li{
        display: inline-block;
        line-height: 40px;
        margin: 0 2px;
    }
    label.logo a{
        font-family: Verdana, Geneva, Tahoma, sans-serif, Cursive;
        font-size: medium;
        font-weight: bolder;
        text-decoration: none;
        color: rgb(252, 232, 206);
        line-height: 40px;
        margin-left: 5px;
    }
    body .slider{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
   .wrapper{
        display: inline-flex;
    }
   .wrapper .static{
        font-size: 30px;
        font-weight: 200px;
        margin: 5px;
        margin-left: 10px;
    }
   .wrapper .dynamic{
        margin-left: 7.5px;
        height: 45px;
        line-height: 45px;
        overflow: hidden;
    }
    .dynamic li{
        list-style: none;
        font-size: 30px;
        font-weight: 200px;
        color: #1a0233;
        position: relative;
        top: 0;
        animation: slide 6s steps(4) infinite;
    }
    @keyframes slide{
        100%{
        top: -180px;
       }
    }
    .dynamic li span{
        position: relative;
    }
    .dynamic li span::after{
        content: "";
        position: absolute;
        background: beige;
        height: 100%;
        width: 100%;
        left: 0;
        border-left: 1.5px solid #1a0233;
        animation: typing 1.5s steps(10) infinite;
    }
    @keyframes typing{
        100%{
            left: 100%;
            margin: 10px -10px -6px 20px;
       }
    }
    .career{
       border: 2px solid champagne;
       background: #ddc7a0 !important;
       border-radius: 50px 20px;
       justify-content: center;
       align-items: center;
       display: inline-flex;
       margin: 10px;
       padding: 10px;
       box-shadow: 10px 10px 15px #1a0233;
    }
    .career h3{
       color: #1a0233;
       margin-left: 3px;
    }
    .career p{
       color: #02091f;
       margin-left: 5px;
    }
}
